<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


	<bean class="com.lerdipai.client.util.PropertiesUtil">
		<property name="locations">
			<list>
				<value>file:${LERDIPAI_CLIENT_CONFIG_HOME}/jdbc.properties</value>
				<value>file:${LERDIPAI_CLIENT_CONFIG_HOME}/domainUrl.properties</value>
                <value>file:${LERDIPAI_CLIENT_CONFIG_HOME}/config.properties</value>
			</list>
		</property>
	</bean>
    <bean id="springBeanUtil" class="com.lerdipai.client.util.SpringBeanUtil">
		<property name="localPath" value="${local.path}"></property>
		<property name="staticPath" value="${static.path}"></property>
	</bean>
	<import resource="classpath*:spring/*.xml" />

	<context:component-scan base-package="com.lerdipai.client">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
</beans>